# Azure Form Recognizer
AZURE_FORM_RECOGNIZER_ENDPOINT=https://nyxion-form-recognizer.cognitiveservices.azure.com/
AZURE_FORM_RECOGNIZER_KEY=7g3UCPXzClukLhyIgw54xvyofcNdeuNgaHMU2ktrLMUXevZCLQBFJQQJ99BIACYeBjFXJ3w3AAALACOG4D8F

# Power BI
POWER_BI_CLIENT_ID=your-client-id
POWER_BI_CLIENT_SECRET=your-client-secret
POWER_BI_TENANT_ID=your-tenant-id
POWER_BI_WORKSPACE_ID=your-workspace-id
POWER_BI_REPORT_ID=your-report-id

# Flask
FLASK_SECRET_KEY=0e792a2b521d96afca834c9dca286dbe
DATABASE_URL=sqlite:///invoices.db
FLASK_ENV=development